body {
  background-color: #ffffff;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: -1; /* Stay on top */
  top: 63px; /* Stay at the top */
  left: 0;
  background-color: #ffffff; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 70px;
}

.sidenav-mobile {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 97%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 100; /* Stay on top */
  top: 63px; /* Stay at the top */
  left: 0%;
  background-color: #ffffff; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 70px;
}
/* The navigation menu links */
/* Sidebar links */
.sidenav a.active {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidenav a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background-color: #2d3e4e;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.sidenav-mobile a {
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  background-color: #2d3e4e;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}
/* Links on mouse-over */
.sidenav a:hover {
  background-color: #555;
  color: white;
}

.main {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1092px) {
  .main {
    margin-left: 0px;
  }
  .sidenav {
    display: none;
  }
  body {
    margin-left: auto;
    margin-right: auto;
  }
}
