.header {
  background-color: #2d3e4e;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}
/* .header__optionBasket {
  display: flex;
  align-items: center;
} */

.header__logo {
  width: 100px;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 18px;
  object-fit: contain;
  height: 36px;
  margin-bottom: 10px;
}
.header__nav {
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

.header__nav-mobile {
  display: block;
  position: absolute;
  padding: 70px;
  margin-top: 20px;
  top: 50px;
  background-color: #2d3e4e;
  right: 20px;
  border: 1px solid #2d3e4e;
  border-radius: 20px;
  margin-right: 0px;
  margin-left: 0px;
}

.header__link {
  color: white;
  text-decoration: none;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 25px;
}
.header__optionLine1 {
  font-size: 12px;
}

.header__optionLine2 {
  font: size 13px;
  font-weight: 800;
}

.header__basketCount {
  margin-right: 10px;
  margin-left: 2px;
  border: 1px solid #fc6240;
  background-color: #fc6240;
  border-radius: 100%;
  padding: 3px;
}

.header__search {
  display: flex;
  flex: 1;
}

.header__searchInput {
  height: 12px;
  padding: 15px 45px;
  border: none;
  width: 70%;
  border-radius: 50px 0px;
  margin-top: 10px;
}

.header__searchIcon {
  background-color: #fc6240;
  padding: 16px;
  height: 2px !important;
  border: 0px solid #fc6240;
  border-radius: 50px 0px;
  display: flex;
  align-items: center;
  outline: none;
}

.toggle__navigation {
  display: none;
  outline: none;
}
.toggle__category {
  display: none;
}
@media screen and (max-width: 1092px) {
  .header__searchInput {
    display: none;
  }

  .header__nav {
    display: none;
    margin-right: 0;
  }
  .header__logo {
    width: 50px;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .header__searchIcon {
    background: none;
    color: white;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 59%;
    margin-right: 10px;
    outline: none;
  }
  .toggle__navigation {
    display: flex;
    width: 50px;
    border: none;
    outline: none;
    background: none;
  }
  .header__option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .header__optionLine1 {
    display: none;
  }
  .header {
    margin-bottom: 50px;
  }
  .toggle__category {
    display: inline;
    margin-left: 20px;
    border: none;
    outline: none;
    background: none;
  }
}
